@import "compass";
@import "compass/css3";

$lcolor : #F1D6C1;
$mcolor : #8B6137;
$dcolor : #651907;
$ldcolor: scale-color($dcolor, $lightness:60%);
$bgcolor: #F3E5DA;

/*media queries according to its break-points*/

@media screen and (max-width:1305px) {

  header {
    nav {
      width: 90%;
      left: 5% !important;
    }
  }
}

@media screen and (max-width:930px) {
 .work a:hover {
    text-decoration: none;
  }
  header {
    nav {
      width : 100%;
      left: 0% !important;
      a {
        font-size: 0.9em;
      }
    }
  }
}

@media screen and (max-width:740px) {
  header {
    label {
      cursor: pointer;
      z-index: 101;
      display: block !important;
      visibility: visible !important;
      position: fixed;
      right: 20px;
      top: 20px;
      i {
        font-size: 2.5em !important;
        color: $dcolor;
      }
    }
    #menu-toggle {
      display: none !important;
      z-index: 101;
    }
    #menu {
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s;
    }
    #menu-toggle:checked + #menu {
      visibility: visible;
      opacity: 1;
      display: block;
      transition: all 0.5s;
    }
    nav {
      padding: 10px 2% !important;
      a {
        font-size: 1em !important;
        display: block;
        padding: 10px 10% !important;
      }
    }
  }
}

@media screen and (max-width:1104px) {
  header {
    h1 {
      span {
        color: $ldcolor;
      }
    }
    .and {
      color: $dcolor;
    }
  }
}

@media screen and (max-width:990px) {
  .love {
    padding-bottom: 0;
    i {
      padding: 10%;
    }
    p {
      width: 75%;
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }
  .contact {
    article {
      width: 30%;
      height: 250px;
      p {
        vertical-align: middle;
      }
      .email {
        font-size: 1em;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width:767px) {
  header {
    p {
      span {
        color: $dcolor;
        font-weight: bold;
        display: block;
      }
    }
  }
  .contact {
    article {
      width: 80% !important;
      margin: 3% auto 0 !important;
      .email {
        font-size: 1em;
      }
    }
  }
}

@media screen and (max-width:480px) {
  .work a:hover {
    text-decoration: none !important;
  }
  .say-hi , .and , .visit-git {
    display: block !important;
    margin: 0 auto !important;
  }
  .say-hi {
    margin-top: 15px !important;
  }
  .and {
    margin-top: 0 !important;
    top: 0 !important;
  }
  .problem {
    h2 {
      font-size: 2.5em;
    }
    p {
      font-size: 1.1em;
    }
  }
  .ignite {
    button {
      width: 80%;
    }
  }
  .subscribe {
    form {
      .text {
        width: 75%;
      }
      .button {
        margin: 15px;
        width: 75%;
      }
    }
  }
  .contact {
    article {
      width: 95% !important;
      margin-bottom: 25px !important;
    }
  }
}